div, p{
  box-sizing: border-box;
}

body{
  padding: 0 100px;

  background-color: #F6F4F0;
}

/* 1. Header */
/* navbar by abdur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.logo {
  max-width: 120px;
  margin: 0 0 0 100px;
}
nav {
  display: flex;
  background: #f4f3f3;
  height: 7vh;
}

nav div {
  display: flex;
  align-items: center;
  flex: 50%;
}
nav div .left-nav {
padding-left: 90px;
}
nav div.right-nav {
  padding-right: 80px;
  display: flex;
  justify-content: flex-end;
}
nav ul {
  list-style-type: none;
  margin-left: 10px;
}
nav ul li {
  display: inline;
  margin-left: 30px;
}
nav ul li a {
  color: #000000;
  text-decoration: none;
}
nav ul li a:hover {
  color: #ec4d37;
  font-weight: bold;
}

/* 2. Main */
.main-container{
  position: relative;
  text-align: center;
}

.main-news-tags{
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;

  background: green;
  color:white;
  padding: 5px 20px;
  border-radius: 50px;
}

.main-news-card-img img{
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.main-news-card-container{
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}

.main-news-card{
  background: white;
  text-align: left;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 8px 8px 10px rgb(0 0 0 / 0.7);

  margin: 0 auto;
  width: 720px;
}

.main-news-card p{
  margin: 7px 0;
}

.main-news-penulis{
  font-size: 13px;
}

.main-news-heading{
  font-size: 24px;
}

/* 3. Body */



/* 4. Formulir */
.formulir {
  height: 436px;
  border-top: 2px solid #000000;
  margin-top: 30px;
}
.formulir-container {
  text-align: center;
}
.formulir-title {
  padding: 30px 0;
}
.formulir-input {
  font-size: 15px;
  text-align: center;
  width: 75%;
  height: 40px;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 5px 4px rgba(0,0,0,0.25);
  margin-bottom: 20px;
}
.formulir-submit {
  font-size: 15px;
  width: 75%;
  height: 40px;
  color: white;
  background-color: #FF0000;
  border: none;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* 5. Footer */
/* footer by abdur */
footer  {
  /* background-color: #2f1f00; */
  height:100%;
  margin: 0 0 0 100px;
  /* background-color: #f4f3f3; */
}
footer .title {
  margin-top: 10px;
}
footer .kelompok {
  margin-top: 25px;
}
footer, footer a {
  color: black;
}